.subscribe-button {
  background-color: rgb(174, 7, 7);   
  color: white;
  /*height: 36px;
  width: 105px;*/
  border: none; 
  border-radius: 2px;  
  cursor:pointer;
  margin-right: 11px;
  transition: background-color 1s, color 1s;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

.subscribe-button:hover {
  background-color: rgb(117, 191, 7);
}
.subscribe-button:active {
  background-color: rgb(2, 20, 49);
}


.join-button {
  background-color: rgb(255, 255, 255);
  border-color: rgb(14, 14, 201);
  border-style: solid;
  border-width: 1px;
  color: rgb(14, 14, 201);
  border-radius: 2px;
  cursor: pointer; 
  transition: opacity 0.5s background-color 1s;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: top;
}

.join-button:hover {
 background-color: rgb(14, 14, 201);
 color: white;
}
.join-button:hover {
  opacity: 0.2;
}
.join-button:active {
  opacity: 0.4;
}


.tweet-button {
  background-color:rgb(2, 158, 255);
  color: white;
  border: none;
  height: 36px;
  width: 74px;
  border-radius:18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-left: 11px;
  transition: box-shadow 0.15s;
  vertical-align: top; aligns buttons to the top else by default the text would align to a straight line across all buttons
}

.tweet-button:hover {
   opacity: 0.7;
   box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.15); 
}
.tweet-button:active {
   opacity: 0.4;
}


.select-button {
 background-color:rgb(0, 0, 0);
 color: white;
 border: none;
 height: 36px;
 width: 100px;
 border-radius:2px;
 font-weight: bold;
 font-size: 12px;
 cursor: pointer;
 margin-left: 11px;
 transition: opacity .50s;
}

.select-button:hover {
  opacity: 0.6;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f2f2f2;
}

.coffee-beans-container {
  display: flex;
  gap: 20px;
}

.coffee-bean {
  width: 50px;
  height: 80px;
  background-color: #8B4513;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.coffee-powder-container {
  position: relative;
  display: none;
}

.coffee-powder {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #8B4513;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease-in-out;
}

.colorful-bag {
  width: 100px;
  height: 150px;
  background-color: #FFD700;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
