body {
    text-align: center;
    margin: 0 40 0 40;
}

h1 {
    font-size: 80px;
    padding-top: 100px;
    padding-bottom: 50px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 20px;
}

.top-selection {
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
}

.top-selection > div > img {
    width: 200px;
    height: 200px;
    padding: 20 40 20 40;
}

.top-selection > div > img:hover { 
    border: solid red 2px;
}

.filter-block {
    background-color: brown;
}

.main-content {
    background-color: aquamarine;
}

.item-grid-container {
    display: grid;
    background-color: pink;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    place-items: center;
}

.item-main {
    display: flex;
    justify-content: space-between;
    background-color: red;
    padding: 10px;
    margin: 10px;
    width: 500px;
    height: 300px;
}

.item-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10 0 10;
    padding: 5 10 5 10;
}

.item-desc {
    border: green solid 1px;
}

.item-text > .item-desc > h3 {
    margin-top: auto;
    margin-bottom: auto;
}

.sub-info {
    display: flex;
    justify-content: space-around;
    border: green solid 1px;
}

.add-button {
    background-color: blue;

}

footer {
    background-color: thistle;
}