body {
    text-align: center;
    margin: 0 40 0 40;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 20px;
}

.heading {
    padding: 20 0 0 0;
}

.top-selection {
    background-image: url("./images/zach_images/mixer_background.png");
    padding: 0 0 20 0;
}

.top-select-beans {
    display: flex;
    justify-content: center;
}

.top-select-beans > div > .bean_img {
    padding: 20 20 20 20;
    margin-bottom: -30px;
}

.slider-container {
    text-align: center;
    margin-top: -30px;
    padding: 10px;
}

#slider {
    width: 500px;
    appearance: none;
    background: #97562e;
    border: 5px solid #ffffff;
    border-radius: 25px
}

#slider::-webkit-slider-thumb {
    appearance: none;
    width: 40px;
    height: 40px; 
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer; 
}

#slider-value {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.filter-block {
    margin-bottom: 40px;
}

.filter-grid-container {
    margin-top: -40px;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 10px;
    column-gap: 30px;
    place-items: center;
}

.item-content {
    
}

.item-grid-container {
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 100px;
    place-items: center;
}

.item-main {
    display: flex;
    justify-content: space-between;
    background-color: #6f817b;
    color: white;
    padding: 10px;
    margin: 10px;
    width: 500px;
    height: 300px;
    box-shadow: 5px 5px 20px -10px #000000;
}

.item-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10 0 10;
    padding: 20 10 5 10;
}

.item-text > .item-desc > h3 {
    margin-top: auto;
    margin-bottom: auto;
}

.sub-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


footer {
    background-color: thistle;
}