body {
    text-align: center;
    margin: 40px;
}

h1 {
    padding-top: 100px;
    padding-bottom: 50px;
}
.top-selection {
    display: flex;
    justify-content: center;
}

.top-selection > div > img {
    width: 200px;
    height: 200px;
    padding: 20 40 20 40;
}

@keyframes example {
    from {width: 200px; height: 200px;}
    to {width: 250px; height: 250px;}
}

.top-selection > div > img:hover {
    width: 250px;
    height: 250px;
    animation-name: example;
    animation-duration: 0.2s;
}

