body {
margin-left:40px;
margin-right:40px;
font-family:  'Roboto Condensed', Arial, sans-serif;
}

.body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 200px;
}


@media screen and (max-width: 1000px) {
    .body {
        display: flex;
        flex-direction: row;
       }

    .DescDiv {
        font-size: 40px;
        text-align: center;
    }
  }
  
/*
.bodySide {
    margin-top:50px;
}
*/
.line {
    color:#dd8e58;
}

.Right {
    width: 445px;
    padding:0px 50px 50px 50px;
    position: relative;
    top:60px;
   /*  border: solid rgb(175, 173, 173) 1px;
    box-shadow: 1px 1px 3px rgb(175, 173, 173); */

}

.Left {
    position: relative;
    top:60px;
}

.mainImage {
    /*border: solid rgb(175, 173, 173) 2px;*/
    width: 600px;
    height:600px;
    box-shadow: 0px 1px 5px rgb(202, 202, 202);  
}

.mainImageBack {
    height:95%;
    position: relative;
    bottom: 145px;
    display: block;
    margin:auto;
}

.gallerymini {
    background-color: white;
    /*border: solid rgb(175, 173, 173) 1px;*/
    width: 140px;
    height: 160px;
    margin-top: 15px;
    box-shadow: 0px 1px 3px rgb(163, 163, 163);  
}


.miniImage {
    height:85%;
    padding-top: 10px;
    padding-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.labeling {
    width:100%;
    height:auto;
    position: relative;
    top:20px;
}


.galleryDiv {
    width:600px;
    display: flex;
    justify-content: space-between;
}

.starImg {
    height: 40px;
}

h2 {
    font-size: 60px;
}

.label{
    font-size: 20px;
}

.btn {
    width: 90px; 
    height:30px;
    font-size: 16px;
    background-color: #2b2129;
    color:white;
    border-radius: 3px;  
    cursor: pointer;
    border:none;
    font-family:  'Roboto Condensed', Arial, sans-serif;
    transition: background-color .1s;

}

.btn:hover {background-color: #2b2129; color: #dd8e58;}

.btn:active {
    box-shadow: 0px 1px 5px rgb(92, 92, 92); 
    font-weight: bold; 
}


.Background {
}

.BgDiv {
    width: 500px;
    position: relative;
    bottom: 20px;
    right: 10px;
    display:flex;
    flex-wrap: wrap;
}

.bgMini {
    border: solid #2b2129 1px;
    width: 120px;
    height: 120px;
    margin: 10px;
    margin-right: 26px;
}

.bgImg {
    height:100%;
}

.bgImg:hover {
    box-shadow: 1px 1px 1px #2b2129, 0 0 15px #dd8e58}

.fontDiv {
    display: flex;
    align-items: center;
}

.dropDown{
    position: relative;
    display: inline-block;
}


.dropBtn {
    width: 375px;
    height:30px;
    font-size: 14px;
    padding:5px;
    margin-left: 20px;
    background-color: white;
    color: #2b2129;
    font-weight: bold;
    border: solid #2b2129 1px;

}

.dropDownContent{
    display: none;
    position: absolute;
    width: 375px;
    left: 20px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropDownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  #font1 {font-family: 'Monsieur La Doulaise', cursive; font-size: 20px;}

  #font2 {font-family: 'Pinyon Script', cursive; font-size: 18px;}

  #font3 {font-family: 'Calligraffitti', cursive;}


  .dropDownContent a:hover {background-color: #ddd;}

  .dropDown:hover .dropDownContent {display: block;}

  .dropDown:hover .dropBtn {background-color: #2b2129; color: #dd8e58}

.nameDiv{
    display: flex;
    align-items: center;
    margin-top: 5px;
    }

#nameInput {
    height:30px;
    width:220px;
    margin-left: 25px;
    margin-right: 10px;
    border: solid #2b2129 1px;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: bold;
}

  .nameOpt {
    width:200px;
    height:100px;
    position: relative;
    top:340px;
    left:200px;
    font-size: 60px;
    text-align: center;
    z-index: 1;    
    color:white;
    font-family: 'Monsieur La Doulaise', cursive;  }

  .QuanDiv {
    display: flex;
    align-items: center;

  }

  .QuanMini {
    margin-right: 20px;
  }

  .Price {
    display: flex;
    flex-wrap: nowrap;
  }

  .sizeDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sizeMini {
    margin-top:15px;

}

.sizeButton {
    width: 110px;
}

.Quantity {
    margin-top: 15px;
}
  #quanInput {
    width: 235px;
    height: 30px;
    font-family:  'Roboto Condensed', Arial, sans-serif;
    border: #2b2129 solid 1px;
    font-weight: bold;
  }

  .sizeQuan {
  }
/*
  .quanOpt {
    width: 50px;
    height:50px;
    border: solid black 5px;
    font-size: 20px;
    font-weight: bold;
    color: #2b2129;
  }
*/
  .checkoutButton {
    width:440px;
    margin-top: 40px;
    height: 60px;
    font-size: 30px;
    background-color: #dd8e58;
  }