body {
margin-left:40px;
margin-right:40px;
font-family:  'Roboto Condensed', Arial, sans-serif;
}

.body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 200px;
}

.bodySide {
    margin-top:50px;
}

.line {
    color:#dd8e58;
}

.Right {
    width: 500px;
    border: solid rgb(175, 173, 173) 1px;
    padding:0px 50px 50px 50px;
    position: relative;
    top:60px;
    box-shadow: 0px 1px 5px #708A81;  

}

.Left {
    position: relative;
    top:60px;
}

.mainImage {
    border: solid rgb(175, 173, 173) 2px;
    width: 600px;
    height:600px;
    box-shadow: 1px 1px 5px #708A81;  
    background-color: #b1c2bc;
}

.mainImageBack {
    height:95%;
    position: relative;
    bottom:200px;
    display: block;
    margin:auto;
}

.gallerymini {
    background-color: white;
    border: solid rgb(175, 173, 173) 1px;
    width: 145px;
    height: 145px;
    margin-top: 15px;
    box-shadow: 1px 1px 3px #708A81;  
    background-color: #b1c2bc;

}


.miniImage {
    height:98%;
    margin:1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.labeling {
    width:100%;
    height:auto;
    position: relative;
    top:20px;
}


.galleryDiv {
    width:600px;
    display: flex;
    justify-content: space-between;
}

.starImg {
    height: 40px;
}

.customizeDiv {
    padding: 0px 30px 0px 30px;

}

h2 {
    font-size: 60px;
}

.label{
    font-size: 20px;
}

.sizeDiv {
    display: flex;
    align-items: center;
    position: relative;

}

.btn {
    width: 90px; 
    height:30px;
    font-size: 16px;
    background-color: #2b2129;
    color:white;
    border-radius: 3px;  
    cursor: pointer;
    border:none;
    font-family:  'Roboto Condensed', Arial, sans-serif;
    transition: background-color .1s;

}

.btn:hover {background-color: #2b2129; color: #dd8e58;}
.btn:active {background-color: #c2956e;}

.sizeButton {
    margin: 0px 10px 0px 15px;
    width: 170px;
}

.Background {
    background-color: #c2956e;
    padding: 5px;
}

.BgDiv {
    width: 500px;
    display:flex;
    flex-wrap: wrap;
}

.bgMini {
    border: solid #2b2129 1px;
    width:120px;
    height: 120px;
    margin: 10px;
}

.bgImg {
    height:100%;
}

.bgImg:hover {
    box-shadow: 1px 1px 1px #2b2129, 0 0 15px #dd8e58}

.fontDiv {
    display: flex;
    align-items: center;
    
}

.dropDown{
    position: relative;
    display: inline-block;
}


.dropBtn {
    width: 350;
    height:30px;
    font-size: 16px;
    padding:5px;
    margin-left: 20px;

}

.dropDownContent{
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropDownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  #font1 {font-family: 'Monsieur La Doulaise', cursive; font-size: 20px;}

  #font2 {font-family: 'Pinyon Script', cursive; font-size: 18px;}

  #font3 {font-family: 'Calligraffitti', cursive;}


  .dropDownContent a:hover {background-color: #ddd;}

  .dropDown:hover .dropDownContent {display: block;}

  .dropDown:hover .dropBtn {background-color: #2b2129; color: #dd8e58}

.nameDiv{
    display: flex;
    align-items: center;
    background-color: #c2956e;
    padding: 5px;
    }

#nameInput {
    height:30px;
    width:220px;
    margin-left: 20px;
    margin-right: 10px;

}

  .nameOpt {
    width:200px;
    height:100px;
    position: relative;
    top:280px;
    left:200px;
    font-size: 60px;
    text-align: center;
    z-index: 1;    
    color:white;
    font-family: 'Monsieur La Doulaise', cursive;  }

  .QuanDiv {
    display: flex;
  }

  .Price {
    margin-left:70px;
    display: flex;
    flex-wrap: nowrap;
  }

  .pricing {
    font-size: 40;
    position: relative;
    bottom: 35px;
  }

  #quanInput {
    width: 150px;
    height: 30px;
  }

  .sizeQuan {
    margin-left: 10px;
  }

  .quanOpt {
    width: 50px;
    height:50px;
    position: relative;
    bottom: 20px;
    font-size: 40px;
    font-weight: bold;
  }

  .checkoutButton {
    width:500px;
    height: 100px;
    font-size: 40px;
  }