body {
  font-family: 'Roboto Condensed', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background: rgb(92, 92, 92);
  display: flex;
  min-height: 70px;
  max-height: 200px;
  box-shadow: 0 2px 2px rgba(12, 7, 7, 0.5);
}

nav a {
  font-weight: lighter;
  color: white;
  font-size: 12px;
  margin: 10px 20px;
  text-decoration: none;
  display: flex;
  align-items: center; 
}

nav a:hover {
  color: rgb(240, 142, 77);
  border-bottom: 2px solid rgb(255, 255, 255);
  transition: border-bottom 1s ease;
  box min-height: 70px;
}


.brandname {
  padding: 10px;
  margin-right: auto;
  margin-left: 10px;
  align-self: center;
  font-weight: bold;
  color: rgb(240, 142, 77);
  font-family: 'Oriya MN', sans-serif;
  font-size: 18px;
}

.product {
  display: flex;
  height: 85vh;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: #D5D5D5;
  position: relative;
}

.product::before {
  content: "";
  display: block;
  position: absolute;
  left: 6rem;
  width: 50%;
  height: 100%;
  background: url('Images/Group\ 62.png') 10% / 70% auto no-repeat;
  transform-origin: center;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.product:hover::before {
  transform: scale(1.1);
}

.tagline {
  color: rgb(55, 55, 55);
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Noteworthy', sans-serif;
  margin-right: 7rem;
}

.anothertagline {
  color: rgb(222, 126, 62);
  font-size: 5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-right: 7rem;
}

@media (max-width: 600px) {
  .tagline {
    font-size: 1rem;
    margin-right: 1rem;
  }

  .anothertagline {
    font-size: 2rem;
    margin-right: 1rem;
  }*/

  html {
    font-size: 18px;
  }
  
  @media only screen and (max-width: 1000px) {
    html {
      font-size: 16px;
    }
  }
  
  @media only screen and (max-width: 680px) {
    html {
      font-size: 14px;
    }
  
  
