body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  font-family: Verdana, sans-serif;
  font-size: 12px;
  height: clamp(50px, 6vw, 70px);
}

.header .logo {
  color: #fa7c33;
  margin-left: 20px;
  margin-right: auto;
  font-size: 16px;
  font-weight: bolder;
}

.header li {
  display: inline;
  margin-right: 20px;
  color: #4a4a4a;
}

.header li a {
  text-decoration: none;
  color: #4a4a4a;
}

li a:hover {
  color: #fa7c33;
  font-weight: bold;
}

li a:active {
  color: rgb(74, 74, 74);
  font-weight: bold;
  transition: border-bottom 0.3s ease, color 1s ease; /* Combine transitions */
  border-bottom: 2px solid #000000;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}


.flex-container {
  width: 75vw;
  box-sizing: border-box;
  margin-top: 20px;
}

.temp img {
  width: 100%; 
  max-height: 100%; 
  height: auto;
}

.second-image {
  position: relative;
  margin-top: -27%;
  margin-left: 51%;
  width: 47%;
}

.be-a-brewer {
  background-color: #fa7c33;
  color: rgb(255, 255, 255);
  padding-top: .8vw;
  padding-bottom: .8vw;
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: 1.5vw;
  font-family: Verdana;
  position: relative;
  margin-left: 65%; 
  margin-top: 2.5%;
  width: 25vw;
  border: none;
  cursor: pointer;
  border-radius: none;
  box-shadow: inset 0 0 10px rgb(198, 103, 9)
}

.be-a-brewer:hover {
  background-color: rgb(130, 186, 45);
  box-shadow: none;
  color: white;
}

.be-a-brewer:active {
  background-color: rgb(35, 35, 35);
  border: 1px solid white;
}

.how-it-works {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 20vw;
  font-family: Impact;
  font-size: clamp(25px, 4vw, 80px);
  color: #fa7c33;
  letter-spacing: 1px;
  margin-bottom: 3vw;
}

/*  <div class="step-container">
      <img src="step1" width="100px"      height="100px" class="step">
        <div class="step-detail">
          <div class="step-description">
            <h3>1</h3>
            <p>Pick from different levels and methods of roasting to alter the flavor and body of your coffee.
            </p>
          </div>
        </div>
    </div>*/

.step-container {
  margin-top: 4vw;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.step {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

@media (min-width: 300px) and (max-width: 499px) {
  .step {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 501px) and (max-width: 700px) {
  .step {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 701px) and (max-width: 999px) {
  .step {
    width: 90px;
    height: 90px;
  }
}

.step-detail {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 12px;
}

.step-description {
  width: 50vw;
}

.step-description h3 {
  font-family: impact;
  font-size: clamp(16px, 2vw, 2vw);
  color:#4a4a4a;
}

.step-description p {
  font-family: Verdana;
  font-size: 1em;
  color:#4a4a4a;
  font-size: clamp(13px, 15px, 1vw);
  line-height: 2vw;
  margin-top: -1vw;
}

@media (max-width: 768px) {
  .step-description p {
    line-height: 3vw;
  }
 
@media (max-width: 768px) {
  .flex-container {
    width: 90vw;
  }

  .hamburger-icon {
    cursor: pointer;
    position: absolute;
    left: 20px;
  }

  .dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 20px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  }

  .dropdown-menu li {
    margin-bottom: 10px;
    font-size: 12px;
  }

  .header .logo {
    margin-left: auto;
    margin-right: auto;
  }

  .hamburger-icon:before {
    content: "\2630";
    font-size: 20px;
  }

  .header:hover .dropdown-menu,  
  .dropdown-menu:hover {
    display: flex;
    opacity: 0.6;
  }

